config mqtt_sub 'main'
    option enable 0
    option daemon 0
    option host '192.168.1.1'
    option port 1883
    option username ''
    option password ''
    option cafile ''
    option certfile ''
    option keyfile ''

config mqtt_sub 'topics'
    list topic 'test/test'
    list topic 'add'

config event
    option topic 'test/test'
    option event_name ''
    option param_name ''
    option value_type ''
    option compare_type '=='
    option value ''
    option email ''
    option password ''
    option username ''
    option recipient ''

config event
    option topic 'test/test'
    option event_name 'asddsa'
    option param_name 'test_val'
    option value_type 'numeric'
    option compare_type '>='
    option value '15'
    option email 'redasdonkus@gmail.com'
    option password 'vcfrobujwwixamyq'
    option username 'redasdonkus@gmail.com'
    option recipient 'redas.domkus@teltonika.lt'

config event
    option topic 'add'
    option event_name 'Add event'
    option param_name 'add_val'
    option value_type 'alphanumeric'
    option compare_type '=='
    option value 'opa'
    option email 'redasdonkus@gmail.com'
    option password 'vcfrobujwwixamyq'
    option username 'redasdonkus@gmail.com'
    option recipient 'redas.domkus@teltonika.lt'
